<div class="dialog-in-app-purchase" ng-show="dialogInAppPurchaseVisible">
    <div class="dialog-in-app-purchase-panel">
        <div class="dialog-in-app-purchase-header">{{"IN_APP_PURCHASE_TITLE" | translate}}</div>
        <div class="dialog-in-app-purchase-content">
            <button class="dialog-in-app-purchase-item">
                <div class="dialog-in-app-purchase-item-icon-coin dialog-in-app-purchase-coin-1"></div>
                <span class="dialog-in-app-purchase-item-text-left">350 {{"GOLD" | translate}}</span>
                <span class="dialog-in-app-purchase-item-text-right">2.69 {{"CURRENCY" | translate}}</span>
                <div class="dialog-in-app-purchase-item-text-icon-plus"></div>
            </button>
            <button class="dialog-in-app-purchase-item">
                <div class="dialog-in-app-purchase-item-icon-coin  dialog-in-app-purchase-coin-2"></div>
                <span class="dialog-in-app-purchase-item-text-left">750 {{"GOLD" | translate}}</span>
                <span class="dialog-in-app-purchase-item-text-right">5.29 {{"CURRENCY" | translate}}</span>
                <div class="dialog-in-app-purchase-item-text-icon-plus"></div>
            </button>
            <button class="dialog-in-app-purchase-item">
                <div class="dialog-in-app-purchase-item-icon-coin  dialog-in-app-purchase-coin-3"></div>
                <span class="dialog-in-app-purchase-item-text-left">2000 {{"GOLD" | translate}}</span>
                <span class="dialog-in-app-purchase-item-text-right">12.99 {{"CURRENCY" | translate}}</span>
                <div class="dialog-in-app-purchase-item-text-icon-plus"></div>
            </button>
            <button class="dialog-in-app-purchase-item">
                <div class="dialog-in-app-purchase-item-icon-coin  dialog-in-app-purchase-coin-4"></div>
                <span class="dialog-in-app-purchase-item-text-left">4500 {{"GOLD" | translate}}</span>
                <span class="dialog-in-app-purchase-item-text-right">26.99 {{"CURRENCY" | translate}}</span>
                <div class="dialog-in-app-purchase-item-text-icon-plus"></div>
            </button>
            <button class="dialog-in-app-purchase-item">
                <div class="dialog-in-app-purchase-item-icon-coin  dialog-in-app-purchase-coin-5"></div>
                <span class="dialog-in-app-purchase-item-text-left">9000 {{"GOLD" | translate}}</span>
                <span class="dialog-in-app-purchase-item-text-right">52.99 {{"CURRENCY" | translate}}</span>
                <div class="dialog-in-app-purchase-item-text-icon-plus"></div>
            </button>

            <button class="orange-button-small" (click)="onButtonCloseClicked($event)">{{"CLOSE" | translate}}</button>
        </div>
    </div>
</div>