@font-face {
    font-family: 'RoastBeefBTN';
    src: url('../fonts/roast-beef-btn.ttf');
    src: url('../fonts/roast-beef-btn.eot') format('embedded-opentype'),
         url('../fonts/roast-beef-btn.woff') format('woff'),
         url('../fonts/roast-beef-btn.ttf') format('truetype');
}
