@font-face {
    font-family: 'VAGRoundedBT';
    src: url('../fonts/vag-rounded-bt.ttf');
    src: url('../fonts/vag-rounded-bt.eot') format('embedded-opentype'),
         url('../fonts/vag-rounded-bt.woff') format('woff'),
         url('../fonts/vag-rounded-bt.ttf') format('truetype');
}
